.banner-auto-fact {
    background-image: url(../img/bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 100%;
}

.navbar-autofact {
    background: rgba(0, 0, 0, 0.25);
}

.card-autofact {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.demo-auto-fact {
    margin: auto;
}

.demo-title-box-auto-fact {
    background: black;
    margin-top: -2rem;
    position: relative;
    color: white;
    border: 0.2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .25rem;
}

.form-auto-fact {
    background: rgba(0, 0, 0, 0.0625);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
}

.code-box-auto-fact {
    background: rgba(0, 0, 0, 1);
    font-family: monospace;
    color: white;
}

.about-auto-fact {
    background: rgba(0, 0, 0, 0.0625);
}

pre {
    padding: 1em;
    background: #fafafa;
    border: 1px solid #ececec;
    border-radius: 6px;
    height: fit-content;
}

.contact-auto-fact {
    background: #262626;
    color: white;
}

.footer-auto-fact {
    background: rgba(0, 0, 0, 1);
}

.text-success {
    color: rgba(72, 128, 29,255) !important;
}

.alert-info {
    color: rgba(72, 128, 29, 255) !important;
    background-color: rgba(199, 235, 186, 255) !important;
    border: none;
}

a, a:active, a:hover {
    color: rgba(199, 235, 186, 255);
}

.try-auto-fact {
    font-size: smaller;
    background: rgba(255, 255, 255, 0.35);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    border: none;
    border-radius: .2rem;
}

.try-auto-fact:active, .try-auto-fact:focus, .try-auto-fact:hover {
    background: rgba(255, 255, 255, 0.25);
}

.pip-auto-fact {
    width: fit-content;
}

.pip-auto-fact-text {
    background: none !important;
    color: white;
}

.pip-auto-fact-button:focus {
    border: none;
    box-shadow: none;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #intro-auto-fact, .select-auto-fact, .footer-items-auto-fact {
      width: 100%;
    }

    #intro-image-auto-fact, #try-auto-fact-text {
        display: none;
    }

    #go-to-results {
        display: block !important;
    }

    .long-text-auto-fact {
        text-align: justify !important;
    }

    /* .pip-auto-fact {
        width: 100%;
    } */
}